
<html>



<body {
	background-color= "#ff8080";

}
	<h1> Parkway Times</h1>

}

h1 {
	text-align: center;
}
h1{
	text-align: center;
}
div { 

	background-color: red;
	margin: 2228 auto;
	width: 20px;
	padding: 500px;
	border: 100px:grey;

	}
div
</html>